<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdIntT9Q84Ko1zNbHlk49qOB3ZIeRlswQ</string>
	<key>GCM_SENDER_ID</key>
	<string>537518736466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weightWatcherAi</string>
	<key>PROJECT_ID</key>
	<string>weightwatcherai</string>
	<key>STORAGE_BUCKET</key>
	<string>weightwatcherai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537518736466:ios:7808fad4954a4893fc4b8b</string>
</dict>
</plist>